{{define "header"}}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Hearken Me</title>
    <link rel="stylesheet" href="mdo.css" type="text/css">
    <link rel="stylesheet" href="pygments-manni.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <h3 class="masthead-title">
            <a href="/" title="Home">Hearken Me</a>
        </h3>     
            <p>
            I want to say so much,please hearken me.
            </p>
            <ul>
              <li><a href="https://github.com/lostz/" target="_blank">GitHub</a></li>
            </ul>
    </header>

{{end}}
