{{define "index"}}
{{template "header"}}
{{range .Posts}}
<div class="post">
	<h1>
	
	<a href="{{.Link }}">{{.Title }}</a>		
	</h1>
	<span class="post-date">{{.Date }}</span>
	{{.Html }}
</div>


{{end}}
<div class="pagination">
{{if .Pre }}
  
    <a href="{{.Pre}}" class="older">Older</a>
    {{else}}
    <span class="previous">Older</span>

{{end}}
<span>&middot;</span>
{{if .Next }}
    <a href="{{.Next}}" class="newer">Newer</a>  
    {{else}}
    <span class="previous">Newer</span>
{{end}}
  
</div>     


{{template "footer"}}
{{end}}
